:root {
  /* Fonts */
  --main-font: "Poppins", sans-serif;
  --secondary-font: ;

  /* Tetx colors */
  --main-txt-cl: #22343d;
  --accent-txt-cl: #02897a;
  --light-txt-cl: #ffffff;

  /* Bg colors */
  --accent-bg-cl: #02897a;

  /* Others */
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--main-txt-cl);
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Base styles */
.container {
  width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

.btn {
  min-width: 110px;
  min-height: 42px;
  padding: 9px 24px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: var(--light-txt-cl);

  background-color: var(--accent-bg-cl);
  border-radius: 4px;
  border: 1px solid transparent;
}

.btn-secondary {
  color: #173a56;
  border: 1px solid #bcd0e5;
  background-color: transparent;
}

/**
  |============================
  | Header styles
  |============================
*/
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;

  color: #173a56;
}

.nav-link {
  font-size: 16px;
  line-height: 1.75;
}

.switch-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero-title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}
.hero-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  margin-bottom: 45px;
}
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}

/**
  |============================
  | Feautures styles
  |============================
*/
.feautures {
  padding-top: 50px;
  padding-bottom: 50px;
}
.feautures-title {
  width: 539px;
  margin: 0 auto 50px;
  text-align: center;
}
.feautures-img {
  margin-bottom: 18px;
}
.feautures-subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: calc(33 / 22);
  color: #22343d;
  margin-bottom: 13px;
}
.features-text {
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}
.feautures-list {
  margin-bottom: 50px;
}

/**
  |============================
  | News-feed styles
  |============================
*/
.news-feed-descr {
  font-weight: 500;
  line-height: calc(26 / 16);
}

.news-feed-meta {
  line-height: calc(28 / 16);
}

.news-feed-author {
  font-weight: 700;
}

.news-feed-subtitle {
  font-size: 24px;
  line-height: calc(40 / 24);
}

.news-feed-subtitle.current {
  color: #02897a;
}
