/**
  |============================
  | News-feed styles
  |============================
*/
.news-feed-descr {
  font-weight: 500;
  line-height: calc(26 / 16);
}

.news-feed-meta {
  line-height: calc(28 / 16);
}

.news-feed-author {
  font-weight: 700;
}

.news-feed-subtitle {
  font-size: 24px;
  line-height: calc(40 / 24);
}

.news-feed-subtitle.current {
  color: #02897a;
}

/**
  |============================
  | SVG animation
  |============================
*/
#speech-buble-1 {
  opacity: 0;
  --start-position: -20px;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2000ms infinite alternate;
}

#speech-buble-2 {
  opacity: 0;
  --start-position: -20px;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2300ms infinite alternate;
}

.character {
  --opacity-start: 0;
  --start-position: -120px;
  animation: slide-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) calc(var(--shift) * 300ms)
    reverse both;
}

@keyframes slide-top {
  0% {
    opacity: var(--opacity-end, 1);
    transform: translateY(0);
  }
  100% {
    opacity: var(--opacity-start, 1);
    transform: translateY(var(--start-position));
  }
}

.screen {
  animation: slide 400ms ease 2600ms both;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(40px) scale(0.7);
  }
  to {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
