:root {
  /* Fonts */
  --main-font: "Poppins", sans-serif;
  --secondary-font: ;

  /* Tetx colors */
  --main-txt-cl: #22343d;
  --accent-txt-cl: #02897a;
  --light-txt-cl: #ffffff;

  /* Bg colors */
  --accent-bg-cl: #02897a;

  /* Others */
}
